{
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "printWidth": 120,
    "proseWrap": "preserve",
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
}